

  @media only screen and (max-width: 768px) {
    .container.grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 2%;
      grid-column-gap: 2%;
      grid-row-gap: 1%;
      margin-top: 3%;
    }
  }
  @media only screen and (max-width: 480px) {
    .container.grid {
      display: grid;
      grid-template-columns: 1fr;
      margin: 2%;
      grid-column-gap: 2%;
      grid-row-gap: 1%;
      margin-top: 3%;
    }