* {
  background-color: rgb(249, 249, 253);
size:100%;

}

img {

  max-width: 100%;
  height: auto;

}

h2 {
  font: 12px;
  font-style: italic;
  font-family:fantasy;
  color: #150723;


}

form {
  background-color: rgb(205, 205, 203);
  width: 1800px;

  display: flex;
  flex-direction: row;
  text-align: right;

}

flex-container1 {
  display: flex;
  text-align: right;



}

header {
  background-color: white;



}

.container1 {
  direction: rtl;
  display: flex;
  flex-wrap: wrap;


}

.grid-container {

  margin: 20px;
  grid: row end 3px;
  grid-template-columns: auto auto auto;
  display: grid;
  column-gap: 40px;
  row-gap: 10px;
  justify-content: space-between;




}

.grid-container img:hover {
  opacity: 1;
  transform: scale(1.1);
}

.flex-container {
  position: sticky;
  display: flex;
  justify-content: space-around;
  font-style: oblique;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: #3b3b3c;



}
footer * {
  font-family: 'Courier New', Courier, monospace;
  background-color: #01050c;
  color: #ea32b3;
  font-size: 14px;
  text-align: center;
}


.row.primary {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  align-items: stretch;
}



.about p {
  text-align: justify;
  line-height: 2;
  margin: 0;
}

input button {
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;

}

button {
  background-color: #b4b1b8;


}

div.social {
  font-size: 2.4em;
  flex-direction: row;
  margin-top: 1em;
}




.social-media-icons {
  padding: 5px;
}
@media only screen and (max-width: 768px) {
  .container {
          display: grid;
          
      
}

@media only screen and (max-width: 480px) {
  .container {
          display: grid;
          
  }
}
