* {
  background-color: rgb(249, 249, 253);
  scroll-behavior: smooth;
  size: 100%;


}

header {
  margin: 2, 5px;
  text-align: justify;
  text-shadow: 2cm;
  background-color: white;
  position: initial;


}



.container1 {
  direction: rtl;
  display: flex;
  flex-wrap: wrap;



}



.grid-container {

  margin: 20px;
  grid-row-end: 3;
  grid-area: 3/3/3/3;
  grid-template-columns: auto auto auto;
  position: relative;
  image size: 25px;
  display: grid;
  column-gap: 20px;
  row-gap: 10px;
  justify-content: space-between;
  



}
.grid-container img:hover {
  opacity: 1;
  transform: scale(1.1);
}

.flex-container {
  position: sticky;
  display: flex;
  justify-content: space-around;
  font-style: oblique;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: #3b3b3c;



}




/*.footer {


}*/


footer * {
  font-family: 'Courier New', Courier, monospace;
  font-style: initial;
  background-color: #121315;
  color: #a7a7a7;
  font-size: 18px;
  position: relative;
  box-shadow: #3b3b3c;
  text-align: center;
}

.row {
  padding: 1em 1em;
}

.row.primary {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  align-items: stretch;
}



.about p {
  text-align: justify;
  line-height: 2;
  margin: 0;
}

input button {
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;

}

button {
  background-color: #0a0a0a;
  color: #353434;
}

div.social {
  font-size: 2.4em;
  flex-direction: row;
  margin-top: 0.5em;
}

.social i {
  color: #090909;
  text-shadow: #1a1818;
}




.footer-menu a {
  color: #3b3b3c;
  padding: 6px;



}

.footer a:hover {
  color: #353434
}


/*design for smartphones*/
@media(max-width: <450px) {
  body {
    background-color for smartphones: rgb(183, 183, 245);
  }
}
